.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 30px;
  justify-content: center;
}

.main-content {
  padding-top: 80px, 
}

.contact-info,
.contact-form {
  flex: 1 1 400px;
  max-width: 600px;
}

.contact-info h2,
.contact-form h2 {
  margin-bottom: 15px;
}

.contact-info p a {
  color: #007bff;
  text-decoration: none;
}

.map-container {
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 5px;
  color: #000;
  font-size: 14px;
}

.form-group svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #999;
}

.contact-form small {
  margin-bottom: 10px;
  color: #666;
}

.contact-btn {
  background-color: #004aad;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.contact-btn:hover {
  background-color: #00307a;
}
.contact-right {
  background-color: #f8f8f8;
  padding: 2rem;
}
.contact-wrapper {
  padding-top: 100px; 
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width: 768px) {
  .contact-wrapper {
    padding-top: 80px; 
    flex-direction: column;
  }
}

